/* Inicio dark mode */
:root {
    --background-dark: 18, 18, 18;
    --bs-bg-opacity: 2172201;
}

.dark-mode .jumbotron {
    background: url('../img/cover_backDM.png');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

/* Blanco */
.dark-mode p,
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4 {
    color: white;
}

/* Negro */
.dark-mode h4.card-title {
    color: black !important;
}

/* Fondo Negro */
.dark-mode body,
.dark-mode .caja-negra {
    background-color: black;
}

/* Gris Oscuro */
.dark-mode button,
.dark-mode label,
.dark-mode nav,
.dark-mode footer,
.dark-mode .fondoCarrusel {
    background-color: rgb(37, 37, 37) !important;
}

.dark-mode input,
.dark-mode textarea,
.dark-mode select {
    background-color: rgb(37, 37, 37) !important;
}

/* Main con color del nav */
.dark-mode main {
    background-color: #121212;
}

/* Gris Claro */
.dark-mode .container,
.dark-mode .btn-filtro,
.dark-mode .navbar-nav a,
.dark-mode .form-control,
.dark-mode .row,
.dark-mode .titulo-cat,
.dark-mode small,
.dark-mode select {
    color: rgba(255, 255, 255, 0.848) !important;
}

.dark-mode .button-cart {
    background-color: #ffb543 !important;
    color: black;
    font-weight: 500;
}

.dark-mode .button-cart:hover {
    background-color: #f59a12 !important;
}

.dark-mode .caja-gris-raro,
.dark-mode .number-quantity {
    background-color: rgba(83, 83, 83, 0.848) !important;
}

.dark-mode #toggleFilters {
    background-color: rgb(37, 37, 37);
    color: white;
}

.dark-mode #toggleFilters:hover {
    background-color: #ffb543;
}


@media (min-width: 992px) {
    #filterContent {
        background-color: transparent !important;
    }
}

.dark-mode .titulo-cat {
    background-image: url('../img/diseño_fmbk.jpg');
}

.dark-mode .img-thumbnail {
    border-color: rgb(150, 150, 150);
    background-color: rgba(var(--background-dark)) !important;
}

/* Gris Oscuro con Borde Blanco */
.dark-mode .caja-gris {
    background-color: rgb(37, 37, 37);
    border-color: rgb(150, 150, 150);
}

.dark-mode #navbarNav ul li a {
    color: rgba(255, 255, 255, 0.848);
    border-bottom: 2px #ffb543 solid;
}

.dark-mode #navbarNav ul li a:hover {
    color: rgba(255, 165, 0, 0.8);
    border-radius: 2px;
    box-shadow: 0px 4px 6px rgba(255, 165, 0, 0.5);
}

.dark-mode #navbarNav ul li ul {
    background-color: rgba(var(--background-dark)) !important;
    color: rgba(255, 255, 255, 0.848);
    border-color: rgb(150, 150, 150);
}

.dark-mode #navbarNav ul li ul li a {
    background-color: rgba(var(--background-dark)) !important;
    color: rgba(255, 255, 255, 0.848);
}

/*Título de Productos Relacionados */
.titleRelatedProducts {
    margin-top: 50px;
    margin-bottom: 50px;
}

/*Hace que los productos relacionados estén uno al lado de otros*/
.card1 {
    float: left;
    margin-right: 10px;
}

/*Nombre del producto*/
.textRelatedProducts {
    text-align: center;
    font-weight: bolder;
}

label.stars {
    background-color: transparent !important;
}

textarea {
    border: solid 1px #f59a12 !important;
}

.dark-mode input:focus{
    box-shadow: 0 0 5px #ffb543;
    outline:none; 
    border: thin #ffb543;
    background-color: rgb(37, 37, 37);
    color: rgb(195, 194, 194);
}

.dark-mode label,
.dark-mode input[type="radio"]{
    border-color: rgb(195, 194, 194);
    color: rgb(195, 194, 194);
}

.dark-mode .hr_debitoCredito{
    background-color: #dbdbdb;
   }
   