* {
    box-sizing: border-box;
}

div h1 {
    text-align: center;
    margin: 10px;
    padding-bottom: 15px;
}

.shadow {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(190, 190, 190),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

/*Fin del container general*/


/*Estilos de los artículos a Comprar*/
.card-product {
    display: flex;
    flex-direction: column;
    --gray: rgba(229, 231, 235, 1);
    grid-gap: 2rem;
    gap: 2rem;
    border-radius: 1rem;
    margin: 1rem 0;
    padding: 1rem;
    background-color: white;
}

.right {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    grid-gap: 0.5rem;
    gap: 0.5rem;
}

.card-title {
    width: 100%;
    border-radius: 1rem;
    background-color: var(--gray);
    text-align: center;
}

.card-count {
    display: flex;
    align-items: center;
}

/*Input de la cantidad de productos*/

.number-control {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.number-left::before,
.number-right::after {
    content: attr(data-content);
    background-color: #FD7E14;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FD7E14;
    width: 20px;
    color: black;
    transition: background-color 0.3s;
    cursor: pointer;
}

.number-left::before {
    content: "-";
}

.number-right::after {
    content: "+";
}

.number-quantity {
    padding: 0.1rem;
    border: 0;
    width: 50px;
    border-top: 1px solid #FD7E14;
    border-bottom: 1px solid #FD7E14;
    text-align: center;
}

input[name="number-count"]::-webkit-inner-spin-button,
input[name="number-count"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-left:hover::before,
.number-right:hover::after {
    background-color: #ffb543;
}

/*Final del input*/

@media (min-width: 738px) {
    .card-product {
        flex-direction: row;
        border: solid white;
    }
}

@media (max-width: 577px) {
    .btn-cerrarCompra{
        width: 100% !important;

    }
}

@media (min-width: 577px) {
    .btn-cerrarCompra{
        width: 66% !important;

    }
}

.buttonDelete {
    color: #FD7E14;
}

.button-cart {
    background-color: #FD7E14 !important;
}

.title-envio{
    margin: 30px 0;
}

.filtros-cart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

@media (min-width: 768px) {
    .filtros-cart {
        flex-direction: row;
    }
    
}

.form-cart{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#container-direccion{
    text-align: center;
    margin: 20px;
}

#mostrarFormulario{
    width: auto;
    padding: 0 15px;
    border: none;
    border-bottom: solid 1px  rgba(255, 165, 0, 0.8);
}

/* Estilo para la pestaña activa */
.tab-carrito .active a {
    background-color: orange !important; /* Cambia el color a naranja con !important */
    color: white; /* Cambia el color del texto para que sea legible en el fondo naranja */
  }

.form-cart .form-label, 
.form-cart .form-check{
    margin-left: 10px;
}

.form-control-direction {
    width: 100%;
}

/* Cambiar el color de los botones de aumento y disminución en input[type="number"] */
.count-number::-webkit-inner-spin-button,
.count-number::-webkit-outer-spin-button {
    display: none;
}

.caja-gris{
    max-width: 850px; 
    width: 100%;
    padding: 1%;
}

/* ACORDION DE METODO DE PAGO */
.accordion{
margin: 1%;
}

.accordion-item{
    background-color:transparent;
}

.accordion-headerOne{
    margin:0;
}

.accordion-icon{
    margin-right: 5px;
}

.formDebitoCredito div input,
.formDebitoCredito div select{
    width: 100%;
}

#cuotasField{
    display: none;
}

#collapseOne{
    border-left: 0.5px solid #dbdbdb64;
    border-right: 0.5px solid #dbdbdb64;
    border-bottom: 0.5px solid #dbdbdb64;
}

.hr_debitoCredito{
 background-color: #2d2d2d64;
}

.contenedorBtn-cerrarCompra{
    margin-left:8px;
}

.formDebitoCredito input[type='radio'] {
    width: unset;
    min-width: 15px;
}
/*Costos totales*/

.cardPrice {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    margin: 2rem;
    padding: 0.8rem;
    width: 380px;
    height: 350px;
    justify-content: center;
    background-color: #fff;
    position: fixed;
    bottom: 240px;
    left: 73%;
}

.cardBody {
    padding: 0.6rem;
    margin: 0.7rem;
}

.cardBody p {
    margin: 0 !important;
    font-size: 19px;
    display: flex;
    justify-content: space-between;
}

.cardBody p[class="description"] {
    font-size: 0.8em;
    font-style: italic;
}

.cardBody p>span {
    text-align: end;
}

.cardBody p>span[class="priceTotal"] {
    font-weight: bold;
}

.cardPriceResponsive {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    margin: 2rem;
    padding: 0.8rem;
    width: 380px;
    height: 350px;
    justify-content: center;
    background-color: #fff;
}