/* Inicio dark mode */
:root {
    --background-light: #ffffff;
    --text-light: #000000;
    --background-dark: 18, 18, 18;
    --text-dark: #ffffff;
    --bs-bg-opacity: 2172201;
}

.dark-mode p {
    color: var(--text-dark);
}

/* Gris Oscuro */
.dark-mode input,
.dark-mode button,
.dark-mode label,
.dark-mode .navbar {
    background-color: rgb(37, 37, 37);
}

.dark-mode main,
.dark-mode small {
    color: black;
}

/* Gris Claro */
.dark-mode .container,
.dark-mode .btn-filtro,
.dark-mode .navbar-nav a,
.dark-mode .form-control,
.dark-mode .row,
.dark-mode .titulo-cat,
.dark-mode .text-muted {
    color: rgba(255, 255, 255, 0.848) !important;
}

.dark-mode .titulo-cat {
    background-image: url('../img/diseño_fmbk.jpg');
}

.dark-mode .img-thumbnail {
    border-color: rgb(150, 150, 150);
    background-color: rgba(var(--background-dark)) !important;
}

/* Gris Oscuro con Borde Blanco */
.dark-mode .list-group-item {
    background-color: rgb(37, 37, 37);
    border-color: rgb(150, 150, 150);
}

.dark-mode #navbarNav ul li a {
    color: rgba(255, 255, 255, 0.848);
    /* Cambia el color del texto a blanco */
    border-bottom: 2px #ffb543 solid;
}

.dark-mode #navbarNav ul li a:hover {
    color: rgba(255, 165, 0, 0.8);
    border-radius: 2px;
    box-shadow: 0px 4px 6px rgba(255, 165, 0, 0.5);
}

.dark-mode #navbarNav ul li ul {
    background-color: rgba(var(--background-dark)) !important;
    color: rgba(255, 255, 255, 0.848);
    border-color: rgb(150, 150, 150);
}

.dark-mode #navbarNav ul li ul li a {
    background-color: rgba(var(--background-dark)) !important;
    color: rgba(255, 255, 255, 0.848);
}

/*Título de Productos Relacionados */
.titleRelatedProducts {
    margin-top: 50px;
    margin-bottom: 50px;
}

/*Hace que los productos relacionados estén uno al lado de otros*/
.card1 {
    float: left;
    margin-right: 10px;
}

/*Nombre del producto*/
.textRelatedProducts {
    text-align: center;
    font-weight: bolder;
}

/* Fin dark mode */